<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">nlxFilterDescription</label>
    <label lang="en">nlxFilterDescription</label>
    <version>2.3.0</version>
    <copyright>(c) by netlogix GmbH &amp; Co. KG</copyright>
    <license>Proprietary</license>
    <link>https://websolutions.netlogix.de/</link>
    <author>netlogix GmbH &amp; Co. KG</author>

    <description lang="de">
        Plugin, um aktive Filter mit einem Prefix zu versehen (Anzeige Label bei Filterergebnissen, z.B. Größe: 12)
    </description>
    <description lang="en">
        Plugin to add a prefix to active filters (display label for filter results, e.g. size: 12)
    </description>

    <compatibility minVersion="5.6.0" />

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
    <changelog version="2.0.0">
        <changes lang="de">Plugin zu Netlogix Struktur migriert</changes>
        <changes lang="en">Plugin migrated to Netlogix structure</changes>
    </changelog>
    <changelog version="2.1.0">
        <changes lang="de">Zeige die Beschreibung auch bei aktiven Filtern an, deren Facet auf der Seite mehrmals definiert ist z.B. Eigenschaften (Größen, Farbe)</changes>
        <changes lang="en">Show the description also for active filters whose facet is defined several times on the page e.g. properties (size, color)</changes>
    </changelog>
    <changelog version="2.2.0">
        <changes lang="de">Plugin Beschreibung hinzugefügt</changes>
        <changes lang="en">Added plugin description</changes>
    </changelog>
    <changelog version="2.3.0">
        <changes lang="de">Shopware 5.7.7 support. Github Actions hinzugefügt</changes>
        <changes lang="en">Shopware 5.7.7 support. Added github actions</changes>
    </changelog>
</plugin>
